 main{
 	display: flex;
 	flex-direction: column;
 }
 main section{
 	display: flex;
 	flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 80%;
    margin: 20px auto;
 }
main article{
    padding: 20px;
    box-sizing: border-box;
    float: left;
    width: 40%;
    background-color: #0BBABA;
    border-radius: 15px;
    font-weight: bold;
    color: #fff;
 }
 
 .foto{
width: 100%
 }
 .descripcion{
    background-color: #FB66A7;
    border: 2px solid #0BBABA;
    color: #000;
 }
 
 h3{
    background-color: #106299;
    color:#FB66A7;
    font-family: verdana;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
 }
 
 h2{
    background-color: #106299;
    color:#4CC1C1;
    font-family: verdana;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50px;
 }

 .contenedor-de-eventos{
	display: flex;
	justify-content: space-around;	
    padding: 10px;
}

.evento{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    border-radius: 5px; 
    background-color: #f3f994; 
    border: 2px solid #044E56;  
}

.evento img{
	width: 100%;
}
.detalle-evento{
    padding: 2px 16px;
    display: flex;
    justify-content: space-between;
}
.fecha-evento p {
    font-family: Helvetica, sans-serif; 
    font-size: 1.5em;
    color: #2c2424; 
    font-weight: bold;
}

.fecha-evento span{
    display: block;
    padding: 5px;
    font-weight: bold;
}
.info-evento{
    display: flex;
    flex-direction: column;  
    text-align: right;  
}
.info-evento p{
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    float: right;
}
.info-evento a{
    text-decoration: none;
    color: #000;
    padding: 5px;
}
.info-evento a:hover{
    color: #044E56;
}
.mapa{
    
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.mapa iframe{
    width: 100%;
    height: 400px;
}
