 *{
    margin: 0;
    padding: 0;
}
body{
background-color: #7DE8E8;
font-family: arial;
}
header{
	background-color: #4CC1C1;
	display: flex;
	justify-content: space-around;
    text-align: center;
    color: #000;
    align-items: center;
}
.logo{
	min-width: 130px;
	max-width: 170px;
	min-height: 100px;
	max-height: 115px;
}

.input-icon{
	flex-basis:30em;
	position: relative;
}

.input-icon i {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
}

.buscador{
	width: 100%;
    border: 2px solid #000;
	border-radius: 4px;
	margin: 8px 0;
	padding: 8px;
	box-sizing: border-box;  
}

.carrito img{
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px; 
}
.contador-de-eventos{
	border-radius: 50%;
    background: red;
    color: white;
    position: absolute;
    width: 20px;
    height: 20px;
	top: 0px;
	margin-left: 15px;
    text-align: center;
}

.carrito{
	position: relative;
}

.menu{
	background-color: #ffdfe6;
}
nav ul{
	text-align: center;
}
nav li{
	display: inline-block;
	list-style: none;
	padding: 15px 10px;
}
nav a{
	text-decoration: none;
	color: #000;
	padding: 15px;
	background-color: #ffdfe6;
	font-size: 1.1em;
}
nav a:hover{
	background-color: #c5ece7;
	color: #000;
}
footer{
 	background-color:#044E56;
 	/*background-color: #560452;*/
 	color: #fff;
 	padding: 15px;
 	box-sizing: border-box;
 	position: relative;
 	bottom: 0;
}
footer section{
	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
    align-items: stretch;
}

footer article{
	/*background-color: #560452;*/
	width: 30%;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
}
footer p{
	margin: 5px;
}
footer a{
	text-decoration: none;
	color: #a07b9d;
	border-radius: 10px;
}
footer li{
	list-style: none;
	margin: 5px;
}
.boton{
  background-color: DodgerBlue;
  border: none;
  color: white; 
  padding: 9px 17px; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 15px;
}
.boton:hover {
  background-color: RoyalBlue;
}
.titulo-centrado{
	text-align: center;
}

