 main{
 	display: flex;
 	flex-direction: column;
 }
 main section{
 	display: flex;
 	flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin: 20px auto;
 }
main article{
 	padding: 20px;
 	box-sizing: border-box;
 	float: left;
 	width: 40%;
 	background-color: #0BBABA;
 	border-radius: 15px;
 	font-weight: bold;
 	color: #fff;
 }

 input, textarea, label{
 	padding: 5px;
 	margin:auto;
 	box-sizing: border-box;
 	float: left;
 }
 label{
 	display: block;
 	margin-top: 10px;
 	padding-left: 0;
 	width: 50%;
 	margin-right: 0;
 	clear: left;
 }
input, textarea{
 	width: 50%;
 	border: 2px solid #044E56;
 }
  form .boton{
 	width: auto;
 	margin-top: 10px;
 	margin-right: 15px;
 	float: right;
 	background-color:#044E56;
 	color: #fff;
 	border-radius: 30px;
 	cursor: pointer;

 }
 
 form .error{
 	clear: both;
 	color: #044E56;
 }
 .boton:hover{
 	background-color: #ccc;
 	color: #000;
 }
 aside{
 	padding-top: 10px;
 	padding-right: 10px;
 	padding-left: 10px;
 	box-sizing: border-box;
 	text-align: center;
 	float: left;
 	width: 40%;
 	background-color: #0BBABA;
 	border-radius: 15px;
 	font-weight: bold;
 	color: #fff;
 }
 aside p{
 	padding: 5px;
 	padding-top: 10px;
 	padding-right: 10px;
 	padding-left: 10px;
 	box-sizing: border-box;
 }
 aside span{
 	color: #044E56;
 }
 aside a{
 	text-decoration: none;
 	color:#044E56;
 }
 h2{
 	margin: 10px;
 	padding: 10px;
 	box-sizing: border-box;
 	background-color:#044E56;
 	color:#fff;
 	border-radius: 15px;
 	text-align: center;
 }
.mapa{
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.mapa iframe{
	width: 100%;
	height: 400px;
}
@media screen and (max-width: 60em){

	main section{
	 	display: flex;
	 	flex-direction: row;
	 	justify-content: space-around;
		align-items: stretch;
	}
	section article, aside{
 	width: 45%;
	}
}
@media screen and (max-width: 47em){

	main section{
	 	display: flex;
	 	flex-direction: column;
		justify-content: space-around;
		align-items: stretch;

	}
	main article{
 	width: 100%;
	}
	main aside{
		margin-top: 2em;
		width: 100%;
	}
}
