 main{
 	display: flex;
 	flex-direction: column;
 }
 main section{
 	display: flex;
 	flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
    margin: 20px auto;
 }
main article{
 	padding: 10px;
 	box-sizing: border-box;
 	float: left;
 	width: auto;
 	background-color: #4CC1C1;
 	border-radius: 15px;
 }

 input, textarea, label{
 	padding: 5px;
 	margin:auto;
 	box-sizing: border-box;
 	float: left;
 }
 label{
 	display: block;
 	margin-top: 10px;
 	padding-left: 0;
 	width: 50%;
 	margin-right: 0;
 	clear: left;
 }
input, textarea{
 	width: 50%;
 }
 .boton{
 	width: auto;
 	margin-top: 10px;
 	margin-right: 15px;
 	float: right;
 	background-color: #000;
 	color: #fff;
 	border:none;
 	border-radius: 30px;
 	cursor: pointer;

 }
 .boton:hover{
 	background-color: #ccc;
 	color: #000;
<<<<<<< HEAD
 }
 aside{
 	padding: 10px;
 	box-sizing: border-box;
 	float: left;
 	width: auto;
 	background-color: #4CC1C1;
 	border-radius: 15px;
 }
 aside p{
 	padding: 5px;
 	box-sizing: border-box;

 }
 h2{
 	padding: 5px;
 	box-sizing: border-box;
 	background-color:#044E56;
 	color:#4CC1C1;
 	border-radius: 15px;
 	text-align: center;
 }
 
=======
 }
>>>>>>> 22f18fcd86eef61ed8289ef52df615fc354bc1ec
