*{
    margin: 0;
    padding: 0;
}
body{
/*background-image: url(../img/fondo4.jpg);*/
background-color: #7DE8E8;
}
header{
	background-color: #4CC1C1;
	display: flex;
	justify-content: space-around;
    text-align: center;
    color: #000;
    align-items: center;
}
.logo{
	min-width: 130px;
	max-width: 170px;
	min-height: 100px;
	max-height: 115px;
}